.color-primary {
  color: #569c87;
}

.bg-primary {
  background-color: #569c87;
}

.color-secondary {
  color: #fcca46;
}

.bg-secondary {
  background-color: #fcca46;
}

.color-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.color-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  color: #000000;
  text-decoration: none;
  font-family: "Roboto", "arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

html {
  height: 100%;
}

body {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

h1 {
  color: #fcca46;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: #fcca46;
  font-size: 1.5rem;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fcca46;
  background-color: #569c87;
}

.btn {
  padding: 0.5rem 1rem;
  color: #fcca46;
  background-color: #569c87;
  border: none;
  border-radius: 0.5rem;
}
.btn-wiggle {
  background-color: transparent;
}
.btn-wiggle:hover {
  animation: wiggle 1s ease-in-out infinite alternate;
}

/* Text-align */
.align-l {
  text-align: left;
}
.align-c {
  text-align: center;
}
.align-r {
  text-align: right;
}

#page_container {
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
}

#menu_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  #menu_container {
    flex-direction: row;
  }
}

.menu_card {
  margin-bottom: 1.2rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  flex: 0 0 calc(50% - 1.2rem);
  height: 55vmax;
  background-color: #569c87;
  box-shadow: 0px 0px 10px 2px lightgrey;
  overflow: hidden;
}
.menu_card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 400ms, opacity 400ms;
}
.menu_card p, .menu_card i {
  font-size: 0.8rem;
}
.menu_card h2 {
  font-family: "Segoe Print", "arial", sans-serif;
  margin-top: 1.5rem;
}
.menu_card:nth-child(1) {
  background-color: #FCDFDB;
}
.menu_card:nth-child(1) i {
  background: linear-gradient(to right, #F15861 20%, #F78F6A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_card:nth-child(1) p {
  font-family: "Devonshire", "arial", sans-serif;
}
.menu_card:nth-child(1) p, .menu_card:nth-child(1) h2 {
  color: #3C1218;
}
.menu_card:nth-child(2) {
  background-color: #FFF4FE;
}
.menu_card:nth-child(2) p {
  font-family: "Playball", "arial", sans-serif;
  background: linear-gradient(to right bottom, #C77412 40%, #905BFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_card:nth-child(2) h2 {
  font-family: "Cantata One", "arial", sans-serif;
  color: #C77412;
}
.menu_card:nth-child(3) {
  background-color: #F9F9F9;
}
.menu_card:nth-child(3) p {
  font-family: "Dancing Script", "arial", sans-serif;
  background: linear-gradient(to right, #0431DF 40%, #0887FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_card:nth-child(3) h2 {
  color: #0887FB;
}
.menu_card:nth-child(4) {
  background-color: #FDFFFC;
}
.menu_card:nth-child(4) p {
  font-family: "Kaushan Script", "arial", sans-serif;
  background: linear-gradient(to right bottom, #4C9F42 0%, #BFFF7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_card:nth-child(4) h2 {
  color: #8BD363;
}
@media screen and (min-width: 768px) {
  .menu_card {
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex: 0 0 calc(50% - 4rem);
  }
  .menu_card p, .menu_card i {
    font-size: 1.6rem;
  }
  .menu_card h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .menu_card {
    margin-bottom: 5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    flex: 0 0 calc(50% - 5rem);
  }
  .menu_card p, .menu_card i {
    font-size: 2.4rem;
  }
  .menu_card h2 {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .menu_card {
    margin-bottom: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    flex: 0 0 calc(50% - 6rem);
  }
  .menu_card p, .menu_card i {
    font-size: 3.2rem;
  }
  .menu_card h2 {
    font-size: 6rem;
  }
}
.menu_card:hover {
  opacity: 0.5;
}
.menu_card:hover .container {
  transform: scale(1.25);
}

#soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#soon a {
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  #soon a {
    font-size: 1.5rem;
  }
}
#soon span {
  margin-left: 0.3rem;
  display: inline-block;
  min-width: 0.2rem;
  min-height: 0.2rem;
  border-radius: 50%;
  background-color: #fcca46;
  animation: dots 2s infinite ease-in-out;
}
#soon span:nth-child(2) {
  animation-delay: 400ms;
}
#soon span:nth-child(3) {
  animation-delay: 800ms;
}

#contact ul li {
  margin-left: 1rem;
}

.menu {
  margin: 0 0.6rem;
  padding: 1.5rem;
  flex: 0 0 calc(100% - 1.2rem);
  height: 60vw;
  box-shadow: 0px 0px 10px 2px lightgrey;
  overflow: hidden;
}
.menu > i {
  font-size: 2.25rem;
  background: linear-gradient(to right, #F15861 20%, #F78F6A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu h3 {
  font-size: 1.25rem;
}
.menu h5 {
  font-size: 1rem;
}
.menu h5 i {
  font-size: 1.7rem;
  background: linear-gradient(to right, #F15861 20%, #F78F6A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__name {
  font-size: 1.25rem;
  color: black;
}
.menu__part {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
.menu__part div.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.menu__part i.decoration {
  width: 35%;
  height: 1rem;
  background-color: #3D1319;
  border-radius: 30%;
}
.menu__part h4 {
  position: relative;
  margin: auto;
  font-size: 0.6rem;
  font-family: "Segoe Print", "arial", sans-serif;
  font-weight: bold;
}
.menu__part h4::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 0px;
  height: 2px;
  background-color: black;
  transition: width 400ms;
}
.menu__part:hover h4::after {
  opacity: 1;
  width: 100%;
}
.menu__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__item i {
  font-weight: bold;
}
.menu__item p, .menu__item i {
  font-family: "Segoe Print", "arial", sans-serif;
  font-size: 0.4rem;
}
@media screen and (min-width: 768px) {
  .menu {
    margin: 0 4.4rem;
    padding: 3rem;
  }
  .menu > i {
    font-size: 2.75rem;
  }
  .menu__item p, .menu__item i {
    font-size: 0.8rem;
  }
  .menu__part h4 {
    font-size: 0.9rem;
  }
  .menu__part h4::after {
    top: 1.5rem;
  }
  .menu h3 {
    font-size: 1.9rem;
  }
  .menu h5 {
    font-size: 1.6rem;
  }
  .menu h5 i {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 992px) {
  .menu > i {
    font-size: 3.25rem;
  }
  .menu__item p, .menu__item i {
    font-size: 1rem;
  }
  .menu__part h4 {
    font-size: 1.2rem;
  }
  .menu__part h4::after {
    top: 2rem;
  }
  .menu h3 {
    font-size: 2.5rem;
  }
  .menu h5 {
    font-size: 2.2rem;
  }
  .menu h5 i {
    font-size: 2.7rem;
  }
}

#menuOne {
  background-color: #FCDFDB;
}
#menuOne h3, #menuOne h5 {
  font-family: "Devonshire", "arial", sans-serif;
}
#menuTwo {
  background-color: #FFF4FE;
}
#menuTwo h3 {
  font-family: "Playball", "arial", sans-serif;
  background: linear-gradient(to right, #C77412 30%, #905BFD 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menuTwo h4 {
  font-family: "Cantata One", "arial", sans-serif;
}
#menuTwo i.decoration-1 {
  background-color: #C67412;
}
#menuTwo i.decoration-2 {
  background-color: #A56799;
}
#menuTwo i.decoration-3 {
  background-color: #6E4CCC;
}
#menuTwo #partOne h4, #menuTwo #partOne p, #menuTwo #partOne i {
  color: #C67412;
}
#menuTwo #partTwo h4, #menuTwo #partTwo p, #menuTwo #partTwo i {
  color: #A56799;
}
#menuTwo #partThree h4, #menuTwo #partThree p, #menuTwo #partThree i {
  color: #6E4CCC;
}
#menuTwo .menu__item p, #menuTwo .menu__item i {
  font-family: "Cantata One", "arial", sans-serif;
}
#menuThree {
  background-color: #F9F9F9;
}
#menuThree h3 {
  font-family: "Dancing Script", "arial", sans-serif;
  background: linear-gradient(to right, #0431DF 40%, #0887FB 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menuThree i.decoration-1 {
  background-color: #0228DD;
}
#menuThree i.decoration-2 {
  background-color: #0670F3;
}
#menuThree i.decoration-3 {
  background-color: #229DF9;
}
#menuFour {
  background-color: #FDFFFC;
}
#menuFour h3 {
  font-family: "Kaushan Script", "arial", sans-serif;
  background: linear-gradient(to right bottom, #4C9F42 0%, #BFFF7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menuFour i.decoration {
  background-color: #54A646;
}
