.color-primary {
  color: #569c87;
}

.bg-primary {
  background-color: #569c87;
}

.color-secondary {
  color: #fcca46;
}

.bg-secondary {
  background-color: #fcca46;
}

.color-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.color-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  color: #000000;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

html {
  height: 100%;
}

body {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #fcca46;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  color: #fcca46;
  font-size: 1.5rem;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fcca46;
  background-color: #569c87;
}

.btn {
  padding: 0.5rem 1rem;
  color: #fcca46;
  background-color: #569c87;
  border: none;
  border-radius: 0.5rem;
}
.btn-wiggle {
  background-color: transparent;
}
.btn-wiggle:hover {
  animation: wiggle 1s ease-in-out infinite alternate;
}

/* Text-align */
.align-l {
  text-align: left;
}
.align-c {
  text-align: center;
}
.align-r {
  text-align: right;
}

#page_container {
  padding: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
}

#menu_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  margin-bottom: 1.2rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  flex: 0 0 calc(50% - 1.2rem);
  height: 60vw;
  background-color: #569c87;
  box-shadow: 0px 0px 10px 2px lightgrey;
}
.menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu p, .menu i {
  font-size: 1rem;
}
.menu h2 {
  margin-top: 0.7rem;
}
.menu:nth-child(1) {
  background-color: #FCDFDB;
}
.menu:nth-child(1) i {
  background: linear-gradient(to right, #F15861 20%, #F78F6A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu:nth-child(1) p {
  font-family: "Devonshire", arial;
}
.menu:nth-child(1) p, .menu:nth-child(1) h2 {
  color: #3C1218;
}
.menu:nth-child(2) {
  background-color: #FFF4FE;
}
.menu:nth-child(2) p {
  font-family: "Playball", arial;
  background: linear-gradient(to right bottom, #C77412 40%, #905BFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu:nth-child(2) h2 {
  color: #C77412;
}
.menu:nth-child(3) {
  background-color: #F9F9F9;
}
.menu:nth-child(4) {
  background-color: #FDFFFC;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex: 0 0 calc(50% - 4rem);
  }
  .menu p, .menu i {
    font-size: 2rem;
  }
  .menu h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-bottom: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    flex: 0 0 calc(50% - 6rem);
  }
  .menu p, .menu i {
    font-size: 3.5rem;
  }
  .menu h2 {
    font-size: 6rem;
  }
}

#soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dots_container span {
  display: inline-block;
  margin: 0.5rem 0.5rem;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 50%;
  background-color: #569c87;
  animation: dots 2s infinite ease-in-out;
}
#dots_container span:nth-child(2) {
  animation-delay: 400ms;
}
#dots_container span:nth-child(3) {
  animation-delay: 800ms;
}

#contact ul li {
  margin-left: 1rem;
}
